h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}
a {
    text-decoration: none;
}
ul, ol {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.container {
    max-width: 1158px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}
.page-header {
    border-bottom: 1px solid #e7e9fc;
    padding: 24px 156px;
}
.page-header .container {
    display: flex;
    align-items: center;
}
.navigation {
    display: flex;
    align-items: center;
}
.accent {
    color: #2e2f42;
}
.logo {
    color: #4d5ae5;
    font-family: 'Raleway',
        sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;  
    text-transform: uppercase;
    flex-grow: 1;
}
.navigation .logo {
    padding: 24px 0;
    margin-right: 76px;
}
.nav-links {
    font-weight: 500;
    display: flex;
    gap: 40px;
}
.link {
    color: #2e2f42;
    width: calc((100% - 80px) / 3);
    padding: 24px 0;
    display: block;
}
.link:focus,  .link:hover{
    color: #404bbf;
}
.link:active {
    text-decoration-line: underline;
}
.contacts {
    font-style: normal;
    color: #434455;
    margin-left: auto;
}
.address-container {
    display: flex;
    gap: 40px;
}
.address-link {
color: #434455;
width: calc((100% - 40px) / 2);
display: inline;
padding: 24px 0;
}
.address-link:hover, .address-link:focus {
    color: #404bbf;
}
.section {
    padding-top: 120px;
    padding-bottom: 120px;
}
.hero-section {
    color: #ffffff;
    background-color: #2e2f42;
    text-align: center;
    padding-top: 188px;
    padding-bottom: 188px;
}
.main-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    max-width: 496px;
}
.the-button {
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    background-color: #4d5ae5;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    height: 56px;
    min-width: 169px;
    margin-top: 48px;
    padding: 16px 32px;
    display: block;
    border: none;
    border-radius: 4px;
}
.the-button:hover, .the-button:focus {
    background-color: #404bbf;
}
.title-two {
    color: #2e2f42;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
}
.visually-hidden {
    color: #2e2f42;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        text-transform: capitalize;
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.benefits-list {
    display: flex;
    gap: 24px;
}
.benefits-item {
width: calc((100% - 72px) / 4);
}
.title-three {
    color: #2e2f42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.benefits-list .title-three {
    margin-bottom: 8px;
}
.main-text {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    width: 264px;
}
.team {
    margin-bottom: 72px;
}
.members-list {
    display: flex;
    gap: 24px;
    margin-top: 72px;
}
.members-list:first-child {
    width: calc((100% - 72px) / 4);
}
.team-members {
    background-color: #ffffff;
    text-align: center;
    width: calc((100% - 72px) / 4);
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-top: none;
}
.members-cards {
    padding: 32px 0;
}
.members-cards .title-three {
    margin-bottom: 8px;
}
.portfolio {
    margin-bottom: 72px;
}
.examples-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 24px;
    margin-top: 72px;
}
.examples-list-item {
width: calc((100% - 48px) / 3);
}
.services-cards {
padding: 32px 16px;
border: 1px solid #e7e9fc;
border-top: none;
}
.services-cards .title-three {
    margin-bottom: 8px;
}
.profession {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.sphere {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-top: 8px;
}
.bottom-section {
    background-color: #2e2f42;
    padding: 100px 0;
}
.bottom-section .logo {
    display: inline-block;
    margin-bottom: 16px;
}
.span-bottom {
    color: #f4f4fd;
}
.footer-text {
    color: #f4f4fd;
    line-height: 1.5;
    letter-spacing: 0.02em;
    width: 264px;
    margin-top: 16px;
}